dialog {
    width: 400px;
    margin: 10rem auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 100;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}