#addRecordBtn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

#addRecordBtn:hover {
    background-color: #45a049;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 97%;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input[type="text"],
form input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
}

form button {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

form button[type="button"] {
    background-color: #f44336;
    color: white;
    border: none;
}

form button[type="showhide"] {
    background-color: #3961e4;
    color: white;
    border: none;
}

form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
}

form button:hover {
    opacity: 0.8;
}

ul {
    padding: 0%;
}